<section>
    @if (country()) {
    <h2 class="title">{{ countryName() }}</h2>

    <div class="details-container">
        <div
            id="nb-of-olympics"
            class="detail"
        >
            <span class="label">Number of entries</span>
            <strong class="value">{{ olympicCount() }}</strong>
        </div>
        <div
            id="nb-of-medals"
            class="detail"
        >
            <span class="label">Total number medals</span>
            <strong class="value">{{ medalCount() }}</strong>
        </div>
        <div
            id="nb-of-athletes"
            class="detail"
        >
            <span class="label">Total number of athletes</span>
            <strong class="value">{{ athleteCount() }}</strong>
        </div>
    </div>

    <div class="chart-wrapper">
        <ngx-charts-line-chart
            [scheme]="colorScheme"
            [legend]="legend"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="lineChartData()"
        >
            <ng-template
                #seriesTooltipTemplate
                let-model="model"
            >
                <div class="tooltip-content">
                    <div class="medals-info">
                        <fa-icon
                            [icon]="faAward"
                            class="award-icon"
                        ></fa-icon>
                        <span class="medals-count">{{ model[0].value }}</span>
                    </div>
                </div>
            </ng-template>
        </ngx-charts-line-chart>
    </div>
    } @else {
    <img
        src="assets/Olympic_rings.svg"
        alt="olympic-circles"
        class="olympic-circles"
    />
    <p
        class="error-message"
        [innerHTML]="errorMessage"
    ></p>
    }
    <div class="btn-container">
        <button
            class="btn"
            [routerLink]="'/'"
        >
            <fa-icon
                [icon]="faRightFromBracket"
                class="award-icon"
            ></fa-icon>
            Back to the list
        </button>
    </div>
</section>