<h2>Olympic games app</h2>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<div class="row">
    <div class="col-12 col-md-6" *ngFor="let olympic of olympics$ | async">
        <h3>{{ olympic.country }}</h3>
        <ul>
            <li *ngFor="let participation of olympic.participations">
                {{ participation.year }} - {{ participation.city }} - Medals: {{ participation.medalsCount }} - Athletes: {{ participation.athleteCount }}
            </li>
        </ul>
    </div>
    <div class="col-12 col-md-6" *ngIf="(olympics$ | async)?.length === 0">
        <p>No data available</p>
    </div>
</div>