<main>
    @if (olympicCountries().length > 0) {
    <app-details-block [data]="detailsBlockData()"></app-details-block>

    <div class="chart-wrapper">
        <!-- [view]="pieChartOptions().view" -->
        <ngx-charts-pie-chart
            [results]="pieChartOptions().results"
            [trimLabels]="pieChartOptions().trimLabels"
            [legend]="pieChartOptions().legend"
            [labels]="pieChartOptions().labels"
            [doughnut]="pieChartOptions().doughnut"
            [scheme]="pieChartOptions().scheme"
            [tooltipDisabled]="false"
            [tooltipText]="'bottom'"
            (select)="onSelect($event)"
        >
            <ng-template
                #tooltipTemplate
                let-model="model"
            >
                <div class="tooltip-content">
                    <span class="country-name">{{ model.name }}</span>
                    <div class="medals-info">
                        <fa-icon
                            [icon]="faAward"
                            class="award-icon"
                        ></fa-icon>
                        <span class="medals-count">{{ model.value }}</span>
                    </div>
                </div>
            </ng-template>
        </ngx-charts-pie-chart>
    </div>
    } @else {
    <img
        src="assets/Olympic_rings.svg"
        alt="olympic-circles"
        class="olympic-circles"
    />
    <p
        class="error-message"
        [innerHTML]="errorMessage"
    ></p>
    }
</main>